@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Inter:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  
  font-family: 'Inter', sans-serif
}
.logo{
  font-family: 'Cinzel', serif;
}
h1{
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
}
/* Swiper css */
swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* react tabs */

.react-tabs__tab--selected {
  background: #fff;
  border-color: #ae4!important;
  color: #BB8506!important;
  font-weight: bold;
  /* text-decoration: underline; */
  /* border: 0!important; */
  border-bottom: 3px solid #BB8506!important;
  /* border-bottom: 2px!important; */
  /* border-radius: 5px 10px 0 0!important; */
}

/* css scroll bar */
/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #080404; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #d4c925; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}